body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border-radius: 5%;
}

.background {
  background: #fff;
  border-radius: 2%;
  border-style: solid;
  border-width: thin;
  box-shadow: 0 0 5px #555;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1rem 1rem;
  width: fit-content;
}

.centering {
  text-align: center;
}

li {
  text-align: left;
}

.zipcodeList {
  display: inline;
}